h1 {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}
